.main-login__page {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.login-page__input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  border: solid 2px grey;
  border-radius: 8px;
}

.login-btn__box {
  display: flex;
  justify-content: space-between;
}

.login-signup__btn {
  margin-right: 15px;
}
