/* sign-up page */
.main-signUp__page {
  display: flex;
  justify-content: center;
}

.signUp-box {
  width: 65%;
}

.signUp-page__input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  border: solid 2px grey;
  border-radius: 8px;
}

.signUp-btn-box {
  display: flex;
  justify-content: space-between;
}

.signUp-exit__btn {
  margin-right: 15px;
}
